.wrapper {
  margin: 0 auto;
  color: whitesmoke;
  max-width: 1320px;

  .welcome {
    margin-top: 40px;
  }

  .yourCampaigns {
    margin: 50px 100px;
  }

  .campaigns {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin: 50px 100px;


    .campaigns__campaign {
      &:hover {
        .campaigns__campaign__commands {
          visibility: visible;
        }
      }

      // make a table with max columns?
      .campaigns__campaign__image {
        padding: 40px;
        margin: 20px;
        border-radius: 8px;
        font-weight: bold;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        color: black;
        cursor: pointer;
      }

      .campaigns__campaign__commands {
        visibility: hidden;
        text-align: center;

        button {
          background-color: #ffc107;
          margin: 0;
          text-align: center;
          padding: 6px;
        }
      }

    }

    .campaigns__createCampaign {
      display: flex;
      justify-content: center;
      align-items: center;
      border: solid rgb(162, 66, 162) 4px;
      border-radius: 50%;
      width: 80px;
      height: 80px;
      padding: 40px;
      margin: 20px;
      cursor: pointer;


      p {
        font-size: 54px;
        font-weight: 25000;
        margin: 0 auto;
        margin-bottom: .1em;
      }
    }
  }

  .input {
    .input-item {
      text-align: center;
    }

    .input__form,
    .input__header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      flex-wrap: wrap;

      button {
        background-color: #ffc107;
        margin: 0;
        text-align: center;
        padding: 6px;
      }
    }

    .input__header {
      justify-content: flex-end;
      margin-bottom: 6px;

    }


  }
}