.wrapper {
  margin: 0 auto;
  color: whitesmoke;
  max-width: 1320px;

  .welcome {
    margin-top: 40px;
  }

  .yourCampaigns {
    margin: 50px 100px;
  }

  .campaigns {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin: 50px 100px;


    .campaigns__campaign {
      // make a table with max columns?
      padding: 40px;
      margin: 20px;
      border: solid green 1px;
      border-radius: 8px;
      font-weight: bold;
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;
      color: black;
      cursor: pointer;
    }

    .campaigns__createCampaign {
      display: flex;
      justify-content: center;
      align-items: center;
      border: solid rgb(162, 66, 162) 4px;
      border-radius: 50%;
      width: 80px;
      height: 80px;
      padding: 40px;
      margin: 20px;
      cursor: pointer;


      p {
        font-size: 54px;
        font-weight: 25000;
        margin: 0 auto;
        margin-bottom: .1em;
      }
    }
  }

  .input {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;

    .input-item {
      max-height: 40px;
      border: solid green 1px;
    }

    button {
      background-color: gold;
      margin-bottom: 24px;
      text-align: center;




    }
  }
}