.leaflet-container {
  height: 89.5vh;
  width: 100%;
  z-index: 0;
}

.mapDiv {
  position: relative;
  width: 100%;
}

.clickableHeader:hover {
  cursor: pointer;
  background-color:rgb(218, 227, 230);
  border-radius: 10px;
}

.editTitleField {
  margin-top: 20px;
  width: 200px;
  height: 40px;
}