main {
  background-color: rgb(51, 55, 62);
  overflow-x: auto;
  overflow-y: hidden;
  min-height: 100vh;
}

.dropdown-toggle {
  outline: 0;
}

.newNoteButton {
  margin-top: 20px;
  margin-left: 30px;
  margin-right: 30px;
}

.clickableNote {
  cursor: pointer;
}