.dropdown-toggle { outline: 0; }

.newNoteButton {
  margin-top: 20px;
  margin-left: 30px;
  margin-right: 30px;
}

.clickableNote {
  display: -webkit-box;
  cursor: pointer;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}